<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">      
    <include resource="org/springframework/boot/logging/logback/base.xml" />

    <appender name="STASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>193.112.58.253:9006</destination>

        <!-- encoder is required -->
        <encoder charset="UTF-8" class="net.logstash.logback.encoder.LogstashEncoder">
            <!--<customFields>{"appname":"myWebservice"}</customFields>-->
            <providers>
                <nestedField>
                    <fieldName>fields</fieldName>
                    <providers>
                        { "appname": "myapp" }
                    </providers>
                </nestedField>
            </providers>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STASH" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>